Repository me4502/Emojify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --config ./.eslintrc.js --fix, prettier --parser html --write --config ./.prettierrc, prettier --parser css --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["eslint --cache --config ./.eslintrc.js --fix"],
    "*.html": ["prettier --parser html --write --config ./.prettierrc"],
    "*.css": ["prettier --parser css --write --config ./.prettierrc"],
    "*.json": ["prettier --parser json --write --config ./.prettierrc"]
}

feat: bump emojilib and release
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

fix: use pinst to fix postinstall errors
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: expose settings type and release
  package.json
  src/emojify.ts
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

feat: optimise and reformat emoji loading
  .eslintrc.js
  .lintstagedrc.json
  index.ts
  package.json
  scripts/generateEmojiMap.js
  scripts/generateEmojiMap.mjs
  scripts/overrides.json
  src/__tests__/__snapshots__/emojify.spec.ts.snap
  src/__tests__/emojify.spec.ts
  src/emojiMap.json
  src/emojify.ts
  src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

fix(types): export EmojifyOptions
  .eslintignore
  package.json
  src/index.ts
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

chore: publish an ESM release too
  .eslintrc.js
  .npmignore
  package.json
  src/emojiMap.json
  src/index.ts
  tsconfig.json
  typings.d.ts
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

chore: minor npm cleanup
  .npmignore
  typings.d.ts
Due: eslint --cache --config ./.eslintrc.js --fix

chore: update dependencies and emoji map
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

release(1.8.0): release 1.8.0
  package.json
Due: prettier --parser json --write --config ./.prettierrc

chore: update dependencies
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

feat: Emoji 15
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: bump packages
  .eslintrc.js
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: release 1.9.1
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

feat: update emoji data
  package.json
  scripts/generateEmojiMap.mjs
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: use yarn 4
  .gitignore
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: update a few packages
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

release: release 1.10.0
  package.json
Due: prettier --parser json --write --config ./.prettierrc

feat: significantly improve emoji coverage, drop CJS, and bump major version
  .eslintignore
  .eslintrc.js
  .lintstagedrc.json
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  eslint.config.js
  jest.config.js
  package.json
  scripts/generateEmojiMap.js
  scripts/generateEmojiMap.mjs
  src/__tests__/__snapshots__/emojify.spec.ts.snap
  src/__tests__/emojify.spec.ts
  src/emojiMap.json
  src/emojify.ts
  tsconfig.build.json
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

chore: minor improvements to work around parentheses blocking emojification
  package.json
  src/__tests__/__snapshots__/emojify.spec.ts.snap
  src/emojify.ts
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

chore: bump deps
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  src/__tests__/__snapshots__/emojify.spec.ts.snap
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

feat: update dependencies and emoji map
  eslint.config.js
  package.json
  src/__tests__/emojify.spec.ts
  src/emojiMap.json
  tsconfig.json
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

feat: add 'pony' alias to horse-related emojis
  scripts/overrides.json
  src/emojiMap.json
Due: prettier --parser json --write --config ./.prettierrc

feat: add support for conversions of words ending with -ers
  package.json
  src/emojify.ts
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

feat: update emoji version and release
  .gitignore
  .husky/pre-commit
  .npmignore
  .prettierrc
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  LICENSE
  README.md
  package.json
  src/emojiMap.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

feat: add option to strip flags from output
  .husky/.gitignore
  .husky/pre-commit
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  src/__tests__/__snapshots__/emojify.spec.ts.snap
  src/__tests__/emojify.spec.ts
  src/emojiMap.json
  src/emojify.ts
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

chore: fix husky usage
  .husky/pre-commit
Due: none

chore: bump deps
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

feat: update for new emoji release
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

chore: use tsdown for builds and add tsdocs
  .npmignore
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
  scripts/generateEmojiMap.js
  src/emojify.ts
  tsconfig.build.json
  tsdown.config.ts
  yarn.lock
Due: eslint --cache --config ./.eslintrc.js --fix, prettier --parser json --write --config ./.prettierrc

feat: update for Emoji 17
  package.json
  src/emojiMap.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc
